<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <title>PasalSpace</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/bootstrap-selector/css/bootstrap-select.min.css">
    <!--icon font css-->
    <link rel="stylesheet" href="/vendors/themify-icon/themify-icons.css">
    <link rel="stylesheet" href="/vendors/flaticon/flaticon.css">
    <link rel="stylesheet" href="/vendors/animation/animate.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/magnify-pop/magnific-popup.css">
    <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/vendors/font-awesome/css/all.css">
    <link rel="stylesheet" href="/vendors/elagent/style.css">
    <link rel="stylesheet" href="/vendors/scroll/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
    {{!-- <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
                    <span data-text-preloader="P" class="letters-loading">
                        P
                    </span>
                    <span data-text-preloader="A" class="letters-loading">
                        A
                    </span>
                    <span data-text-preloader="S" class="letters-loading">
                        S
                    </span>
                    <span data-text-preloader="A" class="letters-loading">
                        A
                    </span>
                    <span data-text-preloader="L" class="letters-loading">
                        L
                    </span>
                    <span data-text-preloader="S" class="letters-loading">
                        S
                    </span>
                    <span data-text-preloader="P" class="letters-loading">
                        P
                    </span>
                    <span data-text-preloader="A" class="letters-loading">
                        A
                    </span>
                    <span data-text-preloader="C" class="letters-loading">
                        C
                    </span>
                    <span data-text-preloader="E" class="letters-loading">
                        E
                    </span>
                </div>
                <p class="text-center">Loading</p>
            </div>
            <div class="loader">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}
    <div class="body_wrapper">
        <header class="header_area">
            <nav class="navbar navbar-expand-lg menu_one menu_pos">
                <div class="container">



                    <a class="navbar-brand sticky_logo" href="/">
                        <script data-pagespeed-no-defer>//<![CDATA[
                            (function () { for (var g = "function" == typeof Object.defineProperties ? Object.defineProperty : function (b, c, a) { if (a.get || a.set) throw new TypeError("ES3 does not support getters and setters."); b != Array.prototype && b != Object.prototype && (b[c] = a.value) }, h = "undefined" != typeof window && window === this ? this : "undefined" != typeof global && null != global ? global : this, k = ["String", "prototype", "repeat"], l = 0; l < k.length - 1; l++) { var m = k[l]; m in h || (h[m] = {}); h = h[m] } var n = k[k.length - 1], p = h[n], q = p ? p : function (b) { var c; if (null == this) throw new TypeError("The 'this' value for String.prototype.repeat must not be null or undefined"); c = this + ""; if (0 > b || 1342177279 < b) throw new RangeError("Invalid count value"); b |= 0; for (var a = ""; b;)if (b & 1 && (a += c), b >>>= 1) c += c; return a }; q != p && null != q && g(h, n, { configurable: !0, writable: !0, value: q }); var t = this; function u(b, c) { var a = b.split("."), d = t; a[0] in d || !d.execScript || d.execScript("var " + a[0]); for (var e; a.length && (e = a.shift());)a.length || void 0 === c ? d[e] ? d = d[e] : d = d[e] = {} : d[e] = c }; function v(b) { var c = b.length; if (0 < c) { for (var a = Array(c), d = 0; d < c; d++)a[d] = b[d]; return a } return [] }; function w(b) { var c = window; if (c.addEventListener) c.addEventListener("load", b, !1); else if (c.attachEvent) c.attachEvent("onload", b); else { var a = c.onload; c.onload = function () { b.call(this); a && a.call(this) } } }; var x; function y(b, c, a, d, e) { this.h = b; this.j = c; this.l = a; this.f = e; this.g = { height: window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight, width: window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth }; this.i = d; this.b = {}; this.a = []; this.c = {} } function z(b, c) { var a, d, e = c.getAttribute("data-pagespeed-url-hash"); if (a = e && !(e in b.c)) if (0 >= c.offsetWidth && 0 >= c.offsetHeight) a = !1; else { d = c.getBoundingClientRect(); var f = document.body; a = d.top + ("pageYOffset" in window ? window.pageYOffset : (document.documentElement || f.parentNode || f).scrollTop); d = d.left + ("pageXOffset" in window ? window.pageXOffset : (document.documentElement || f.parentNode || f).scrollLeft); f = a.toString() + "," + d; b.b.hasOwnProperty(f) ? a = !1 : (b.b[f] = !0, a = a <= b.g.height && d <= b.g.width) } a && (b.a.push(e), b.c[e] = !0) } y.prototype.checkImageForCriticality = function (b) { b.getBoundingClientRect && z(this, b) }; u("pagespeed.CriticalImages.checkImageForCriticality", function (b) { x.checkImageForCriticality(b) }); u("pagespeed.CriticalImages.checkCriticalImages", function () { A(x) }); function A(b) { b.b = {}; for (var c = ["IMG", "INPUT"], a = [], d = 0; d < c.length; ++d)a = a.concat(v(document.getElementsByTagName(c[d]))); if (a.length && a[0].getBoundingClientRect) { for (d = 0; c = a[d]; ++d)z(b, c); a = "oh=" + b.l; b.f && (a += "&n=" + b.f); if (c = !!b.a.length) for (a += "&ci=" + encodeURIComponent(b.a[0]), d = 1; d < b.a.length; ++d) { var e = "," + encodeURIComponent(b.a[d]); 131072 >= a.length + e.length && (a += e) } b.i && (e = "&rd=" + encodeURIComponent(JSON.stringify(B())), 131072 >= a.length + e.length && (a += e), c = !0); C = a; if (c) { d = b.h; b = b.j; var f; if (window.XMLHttpRequest) f = new XMLHttpRequest; else if (window.ActiveXObject) try { f = new ActiveXObject("Msxml2.XMLHTTP") } catch (r) { try { f = new ActiveXObject("Microsoft.XMLHTTP") } catch (D) { } } f && (f.open("POST", d + (-1 == d.indexOf("?") ? "?" : "&") + "url=" + encodeURIComponent(b)), f.setRequestHeader("Content-Type", "application/x-www-form-urlencoded"), f.send(a)) } } } function B() { var b = {}, c; c = document.getElementsByTagName("IMG"); if (!c.length) return {}; var a = c[0]; if (!("naturalWidth" in a && "naturalHeight" in a)) return {}; for (var d = 0; a = c[d]; ++d) { var e = a.getAttribute("data-pagespeed-url-hash"); e && (!(e in b) && 0 < a.width && 0 < a.height && 0 < a.naturalWidth && 0 < a.naturalHeight || e in b && a.width >= b[e].o && a.height >= b[e].m) && (b[e] = { rw: a.width, rh: a.height, ow: a.naturalWidth, oh: a.naturalHeight }) } return b } var C = ""; u("pagespeed.CriticalImages.getBeaconData", function () { return C }); u("pagespeed.CriticalImages.Run", function (b, c, a, d, e, f) { var r = new y(b, c, a, e, f); x = r; d && w(function () { window.setTimeout(function () { A(r) }, 0) }) }); })(); pagespeed.CriticalImages.Run('/mod_pagespeed_beacon', 'https://droitthemes.com/html/saasland/home-pos.html', 'oG-7lxx8_G', true, false, 'VK6lS9LogpM');
//]]></script>
                        <img src="/img/logo2.png" class="logo2" srcset="img/logo2x-2.png 2x" alt="logo"
                            data-pagespeed-url-hash="651001205"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        <img src="/img/logo.png" class="logo1" srcset="img/logo2x.png 2x" alt="logo"
                            data-pagespeed-url-hash="1242977843"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu_toggle">
                            <span class="hamburger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                            <span class="hamburger-cross">
                                <span></span>
                                <span></span>
                            </span>
                        </span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav menu w_menu">
                            {{# each navLinks}}
                            <li {{#ifeq ../section key}}class="active nav-item" {{else}} class="nav-item" {{/ifeq}}>
                                <a class="nav-link" href="{{ href }}">{{ label }}</a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        {{{body}}}

        <section class="pos_action_area">
            <div class="container">
                <div class="pos_action_content text-center">
                    <h2>Ready to start selling your digital goods?</h2>
                    <p>Create your own e-commerce store with PasalSpace today.</p>
                    <a href="http://app.pasalspace.com/" class="pos_btn">Get Started Free</a>
                </div>
            </div>
        </section>

        <footer class="footer_area h_footer_dark pos_footer_area">
            <div class="top_shap"><img src="img/pos/fotter_shap.png" alt="" data-pagespeed-url-hash="1069738004"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></div>
            <img class="leaf_left" src="img/pos/leaf-left.png" alt="" data-pagespeed-url-hash="3167574357"
                onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            <img class="leaf_right" src="img/pos/leaf-right.png" alt="" data-pagespeed-url-hash="3212496164"
                onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="f_widget dark_widget company_widget">
                            <a href="index.html" class="f-logo"><img class="footer-logo" src="img/logo2.png" alt=""
                                    data-pagespeed-url-hash="651001205"
                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                            <p> © 2019 PasalSpace. All rights reserved .  A product of Varenyam Technologies Pvt. Ltd.</p>
                            <div class="f_social_icon">
                                <a target="_blank" href="https://www.facebook.com/PasalSpace-323985851685094/?modal=admin_todo_tour" class="ti-facebook"></a>
                                <a href="#" class="ti-twitter-alt"></a>
                                <a href="#" class="ti-vimeo-alt"></a>
                                <a href="#" class="ti-pinterest"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        {{!-- <div class="f_widget dark_widget about-widget pl_70">
                            <h3 class="f-title f_500 t_color f_size_18 mb_40">Download</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">Company</a></li>
                                <li><a href="#">Android App</a></li>
                                <li><a href="#">ios App</a></li>
                                <li><a href="#">Desktop</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Partners</a></li>
                                <li><a href="#">Careers</a></li>
                            </ul>
                        </div> --}}
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget dark_widget about-widget pl_20">
                            {{!-- <h3 class="f-title f_500 t_color f_size_18 mb_40">Help</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Term & conditions</a></li>
                                <li><a href="#">Reporting</a></li>
                                <li><a href="#">Block Storage</a></li>
                                <li><a href="#">Tools & Integrations</a></li>
                                <li><a href="#">API</a></li>
                                <li><a href="#">Pricing</a></li>
                            </ul> --}}
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="f_widget dark_widget about-widget pl_20">
                            <h3 class="f-title f_500 t_color f_size_18 mb_40">Menu</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="/">Home</a></li>
                                <li><a href="/blog">Blog</a></li>
                                <li><a href="/contact">Contact</a></li>
                                {{!-- <li><a href="#">System Status</a></li> --}}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="pos_footer_bottom justify-content-between d-flex align-items-end">
                    <img class="pos_women" src="img/pos/women.png" alt="" data-pagespeed-url-hash="3110996545"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                    <img src="img/pos/people.png" alt="" data-pagespeed-url-hash="2513333318"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                    <img class="pos_women" src="img/pos/man.png" alt="" data-pagespeed-url-hash="2828620569"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <svg class="wave_shap" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" opacity="0.302" fill="rgb(73, 69, 140)"
                    d="M22.990,11.999 C22.990,11.999 -62.334,196.188 102.000,90.998 C236.033,5.204 349.217,18.152 512.000,80.998 C773.380,181.909 898.075,49.752 1051.000,15.998 C1316.369,-42.574 1488.518,78.268 1581.000,112.999 C1783.485,189.036 1942.990,61.999 1942.990,61.999 L1942.990,211.999 L22.990,211.999 L22.990,11.999 Z" />
            </svg>
        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/propper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/vendors/wow/wow.min.js"></script>
    <script src="/vendors/sckroller/jquery.parallax-scroll.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/vendors/isotope/isotope-min.js"></script>
    <script src="/vendors/magnify-pop/jquery.magnific-popup.min.js"></script>
    <script src="/vendors/bootstrap-selector/js/bootstrap-select.min.js"></script>
    <script src="/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="/vendors/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>