 <header class="header_area">
            <nav class="navbar navbar-expand-lg menu_one menu_pos">
                <div class="container">



                    <a class="navbar-brand sticky_logo" href="#">
                        <script data-pagespeed-no-defer>//<![CDATA[
                            (function () { for (var g = "function" == typeof Object.defineProperties ? Object.defineProperty : function (b, c, a) { if (a.get || a.set) throw new TypeError("ES3 does not support getters and setters."); b != Array.prototype && b != Object.prototype && (b[c] = a.value) }, h = "undefined" != typeof window && window === this ? this : "undefined" != typeof global && null != global ? global : this, k = ["String", "prototype", "repeat"], l = 0; l < k.length - 1; l++) { var m = k[l]; m in h || (h[m] = {}); h = h[m] } var n = k[k.length - 1], p = h[n], q = p ? p : function (b) { var c; if (null == this) throw new TypeError("The 'this' value for String.prototype.repeat must not be null or undefined"); c = this + ""; if (0 > b || 1342177279 < b) throw new RangeError("Invalid count value"); b |= 0; for (var a = ""; b;)if (b & 1 && (a += c), b >>>= 1) c += c; return a }; q != p && null != q && g(h, n, { configurable: !0, writable: !0, value: q }); var t = this; function u(b, c) { var a = b.split("."), d = t; a[0] in d || !d.execScript || d.execScript("var " + a[0]); for (var e; a.length && (e = a.shift());)a.length || void 0 === c ? d[e] ? d = d[e] : d = d[e] = {} : d[e] = c }; function v(b) { var c = b.length; if (0 < c) { for (var a = Array(c), d = 0; d < c; d++)a[d] = b[d]; return a } return [] }; function w(b) { var c = window; if (c.addEventListener) c.addEventListener("load", b, !1); else if (c.attachEvent) c.attachEvent("onload", b); else { var a = c.onload; c.onload = function () { b.call(this); a && a.call(this) } } }; var x; function y(b, c, a, d, e) { this.h = b; this.j = c; this.l = a; this.f = e; this.g = { height: window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight, width: window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth }; this.i = d; this.b = {}; this.a = []; this.c = {} } function z(b, c) { var a, d, e = c.getAttribute("data-pagespeed-url-hash"); if (a = e && !(e in b.c)) if (0 >= c.offsetWidth && 0 >= c.offsetHeight) a = !1; else { d = c.getBoundingClientRect(); var f = document.body; a = d.top + ("pageYOffset" in window ? window.pageYOffset : (document.documentElement || f.parentNode || f).scrollTop); d = d.left + ("pageXOffset" in window ? window.pageXOffset : (document.documentElement || f.parentNode || f).scrollLeft); f = a.toString() + "," + d; b.b.hasOwnProperty(f) ? a = !1 : (b.b[f] = !0, a = a <= b.g.height && d <= b.g.width) } a && (b.a.push(e), b.c[e] = !0) } y.prototype.checkImageForCriticality = function (b) { b.getBoundingClientRect && z(this, b) }; u("pagespeed.CriticalImages.checkImageForCriticality", function (b) { x.checkImageForCriticality(b) }); u("pagespeed.CriticalImages.checkCriticalImages", function () { A(x) }); function A(b) { b.b = {}; for (var c = ["IMG", "INPUT"], a = [], d = 0; d < c.length; ++d)a = a.concat(v(document.getElementsByTagName(c[d]))); if (a.length && a[0].getBoundingClientRect) { for (d = 0; c = a[d]; ++d)z(b, c); a = "oh=" + b.l; b.f && (a += "&n=" + b.f); if (c = !!b.a.length) for (a += "&ci=" + encodeURIComponent(b.a[0]), d = 1; d < b.a.length; ++d) { var e = "," + encodeURIComponent(b.a[d]); 131072 >= a.length + e.length && (a += e) } b.i && (e = "&rd=" + encodeURIComponent(JSON.stringify(B())), 131072 >= a.length + e.length && (a += e), c = !0); C = a; if (c) { d = b.h; b = b.j; var f; if (window.XMLHttpRequest) f = new XMLHttpRequest; else if (window.ActiveXObject) try { f = new ActiveXObject("Msxml2.XMLHTTP") } catch (r) { try { f = new ActiveXObject("Microsoft.XMLHTTP") } catch (D) { } } f && (f.open("POST", d + (-1 == d.indexOf("?") ? "?" : "&") + "url=" + encodeURIComponent(b)), f.setRequestHeader("Content-Type", "application/x-www-form-urlencoded"), f.send(a)) } } } function B() { var b = {}, c; c = document.getElementsByTagName("IMG"); if (!c.length) return {}; var a = c[0]; if (!("naturalWidth" in a && "naturalHeight" in a)) return {}; for (var d = 0; a = c[d]; ++d) { var e = a.getAttribute("data-pagespeed-url-hash"); e && (!(e in b) && 0 < a.width && 0 < a.height && 0 < a.naturalWidth && 0 < a.naturalHeight || e in b && a.width >= b[e].o && a.height >= b[e].m) && (b[e] = { rw: a.width, rh: a.height, ow: a.naturalWidth, oh: a.naturalHeight }) } return b } var C = ""; u("pagespeed.CriticalImages.getBeaconData", function () { return C }); u("pagespeed.CriticalImages.Run", function (b, c, a, d, e, f) { var r = new y(b, c, a, e, f); x = r; d && w(function () { window.setTimeout(function () { A(r) }, 0) }) }); })(); pagespeed.CriticalImages.Run('/mod_pagespeed_beacon', 'https://droitthemes.com/html/saasland/home-pos.html', 'oG-7lxx8_G', true, false, 'VK6lS9LogpM');
//]]></script>
                        <img src="img/logo2.png" class="logo2" srcset="img/logo2x-2.png 2x" alt="logo"
                            data-pagespeed-url-hash="651001205"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        <img src="img/logo.png" class="logo1" srcset="img/logo2x.png 2x" alt="logo"
                            data-pagespeed-url-hash="1242977843"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu_toggle">
                            <span class="hamburger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                            <span class="hamburger-cross">
                                <span></span>
                                <span></span>
                            </span>
                        </span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav menu w_menu">
                            {{# each navLinks}}
                            <li {{#ifeq ../section key}}class="active nav-item" {{else}} class="nav-item" {{/ifeq}}>
                                <a class="nav-link" href="{{ href }}">{{ label }}</a>
                            </li>
                            {{/each}}                            
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section class="pos_banner_area">
            <div class="pos_slider owl-carousel">
                <div class="pos_banner_item" style="background:url(img/pos/pos_slideshow1.jpg)"></div>
                <div class="pos_banner_item" style="background:url(img/pos/pos_slideshow2.jpg)"></div>
                <div class="pos_banner_item" style="background:url(img/pos/pos_slideshow3.jpg)"></div>
            </div>
            <div class="container">
                <div class="pos_banner_text text-center">
                    <h6>Welcome To PasalSpace</h6>
                    <h2>Give yourself the best chance of success with <span>PasalSpace.</span></h2>
                    <div class="action_btn d-flex align-items-center justify-content-center wow fadeInLeft"
                        data-wow-delay="0.6s">
                        <a href="http://app.pasalspace.com/" class="software_banner_btn">Try a Demo</a>
                        <!-- <a href="https://www.youtube.com/watch?v=sU3FkzUKHXU" class="video_btn popup-youtube">
                            <div class="icon"><i class="fas fa-play"></i></div><span>Watch Video</span>
                        </a> -->
                    </div>
                </div>
            </div>
        </section>
        <section class="ticket_area">
            <div class="ticket_shap" style="background:url(img/pos/shape.png)"></div>
            <div class="pattern" style="background:url(img/pos/pattern_01.png)"></div>
            <div class="container">
                <div class="ticket_item">
                    <div class="icon">
                        <img src="img/pos/icon1.png" alt="" data-pagespeed-url-hash="3556681823"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                    </div>
                    <h2>5 Store <span>Running Already </span></h2>
                    <p>More Than</p>
                </div>
                <div class="ticket_item">
                    <div class="icon pink">
                        <img src="img/pos/icon2.png" alt="" data-pagespeed-url-hash="3851181744"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                    </div>
                    <h2>$420.00 <span>Ultimate Plan</span></h2>
                    <p>Price</p>
                </div>
                <div class="ticket_item">
                    <div class="icon yellow">
                        <img src="img/pos/icon3.png" alt="" data-pagespeed-url-hash="4145681665"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                    </div>
                    <h2>in 7 min<span>Setup your Store</span></h2>
                    <p>Set Up</p>
                </div>
            </div>
        </section>
        <section class="partner_logo_area">
            <div class="container">
                <h4 class="f_size_18 f_400 f_p text-center l_height28 mb_70">Market leaders use app to nrich their brand
                    &amp; business.</h4>
                <div class="row partner_info">
                    <div class="logo_item">
                        <a href="#"><img src="img/home3/logo_01.png" alt="" data-pagespeed-url-hash="399523884"
                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                    </div>
                    <div class="logo_item">
                        <a href="#"><img src="img/home3/logo_02.png" alt="" data-pagespeed-url-hash="694023805"
                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                    </div>
                    <div class="logo_item">
                        <a href="#"><img src="img/home3/logo_03.png" alt="" data-pagespeed-url-hash="988523726"
                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                    </div>
                    <div class="logo_item">
                        <a href="#"><img src="img/home3/logo_04.png" alt="" data-pagespeed-url-hash="1283023647"
                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                    </div>
                    <div class="logo_item">
                        <a href="#"><img src="img/home3/logo_05.png" alt="" data-pagespeed-url-hash="1577523568"
                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="hosting_service_area sec_pad">
            <div data-parallax='{"x": 0, "y": 100}'>
                <div class="pattern_shap" style="background:url(img/pos/pattern_02.png)"></div>
            </div>
            <div class="container">
                <div class="hosting_title text-center">
                    <h2 class="wow fadeInUp" data-wow-delay="0.3s">Designed and built for<br>retail business just like
                        yours.</h2>
                </div>
                <div class="row pos_service_info">
                    <div class="col-lg-4 col-sm-6">
                        <div class="hosting_service_item">
                            <img src="img/pos/laptop.png" alt="" data-pagespeed-url-hash="3758274425"
                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <a href="#">
                                <h4 class="h_head">eCommerce</h4>
                            </a>
                            <p>Set up your e-commerce website by selecting many built-in templates. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="hosting_service_item">
                            <img src="img/pos/statistics.png" alt="" data-pagespeed-url-hash="83222326"
                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <a href="#">
                                <h4 class="h_head">Analyticst</h4>
                            </a>
                            <p>Analyze data about your website visitors and their interactions on your website.</p>
                        </div>
                    </div>
                    {{!-- <div class="col-lg-4 col-sm-6">
                        <div class="hosting_service_item">
                            <img src="img/pos/delivery-truck.png" alt="" data-pagespeed-url-hash="2161093273"
                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <a href="#">
                                <h4 class="h_head">Point of Sale</h4>
                            </a>
                            <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say
                                arse.!</p>
                        </div>
                    </div> --}}
                    <div class="col-lg-4 col-sm-6">
                        <div class="hosting_service_item">
                            <img src="img/pos/cash-register.png" alt="" data-pagespeed-url-hash="2985492920"
                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <a href="#">
                                <h4 class="h_head">Access globally</h4>
                            </a>
                            <p>Sell products to anyone, anywhere and access sales and inventory data any time and anywhere from the world. </p>
                        </div>
                    </div>
                    {{!-- <div class="col-lg-4 col-sm-6">
                        <div class="hosting_service_item">
                            <div class="icon">
                                <img src="img/pos/credit-card.png" alt="" data-pagespeed-url-hash="2774939651"
                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </div>
                            <a href="#">
                                <h4 class="h_head">Payments</h4>
                            </a>
                            <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say
                                arse.!</p>
                        </div>
                    </div> --}}
                    {{!-- <div class="col-lg-4 col-sm-6">
                        <div class="hosting_service_item">
                            <div class="icon">
                                <img src="img/pos/mailbox.png" alt="" data-pagespeed-url-hash="2132448991"
                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </div>
                            <a href="#">
                                <h4 class="h_head">Accept any Tender</h4>
                            </a>
                            <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say
                                arse.!</p>
                        </div>
                    </div> --}}
                </div>
            </div>
        </section>
        <section class="pos_developer_product_area sec_pad">
            <div class="container">
                <div class="hosting_title text-center">
                    <h2 class="wow fadeInUp" data-wow-delay="0.3s">All the tools for multi-location retailers to
                        <br>sell, manage, report and grow</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="tab_img_info">
                            <div class="tab_img active" id="tab_one">
                                <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s"
                                    src="img/pos/High-end-all-in-one-dual-screen.png" alt=""
                                    data-pagespeed-url-hash="2843418726"
                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                <div class="square"></div>
                                <div class="bg_circle"></div>
                                <div data-parallax='{"x": 0, "y": 100}' class="tab_round"></div>
                                <div data-parallax='{"x": 50, "y": 5}' class="tab_triangle"></div>
                                <div data-parallax='{"x": 0, "y": 100}'>
                                    <div class="pattern_shap" style="background:url(img/pos/tab_pattern.png)"></div>
                                </div>
                            </div>
                            <div class="tab_img" id="tab_two">
                                <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s"
                                    src="img/pos/ezgif-1-997e5035cba4.png" alt="" data-pagespeed-url-hash="1033823510"
                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                <div class="square"></div>
                                <div class="bg_circle green"></div>
                                <div data-parallax='{"x": 0, "y": 100}' class="tab_round"></div>
                                <div data-parallax='{"x": 50, "y": 5}' class="tab_triangle"></div>
                                <div data-parallax='{"x": 0, "y": 100}'>
                                    <div class="pattern_shap" style="background:url(img/pos/tab_pattern.png)"></div>
                                </div>
                            </div>
                            <div class="tab_img" id="tab_three">
                                <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="img/pos/pos.png"
                                    alt="" data-pagespeed-url-hash="3752973955"
                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                <div class="square"></div>
                                <div class="bg_circle pink"></div>
                                <div data-parallax='{"x": 0, "y": 100}' class="tab_round"></div>
                                <div data-parallax='{"x": 50, "y": 5}' class="tab_triangle"></div>
                                <div data-parallax='{"x": 0, "y": 100}'>
                                    <div class="pattern_shap" style="background:url(img/pos/tab_pattern.png)"></div>
                                </div>
                            </div>
                            <div class="tab_img" id="tab_four">
                                <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s"
                                    src="img/pos/b_dashboard.png" alt="" data-pagespeed-url-hash="2515775438"
                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                <div class="square"></div>
                                <div class="bg_circle yellow"></div>
                                <div data-parallax='{"x": 0, "y": 100}' class="tab_round"></div>
                                <div data-parallax='{"x": 50, "y": 5}' class="tab_triangle"></div>
                                <div data-parallax='{"x": 0, "y": 100}'>
                                    <div class="pattern_shap" style="background:url(img/pos/tab_pattern.png)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center">
                        <div class="developer_product_content">
                            <ul class="nav nav-tabs develor_tab mb-30" id="myTab2" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-tab="tab_one" id="ruby-tab" data-toggle="tab"
                                        href="#ruby" role="tab" aria-controls="ruby" aria-selected="true">Increase
                                        Sales</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-tab="tab_two" id="curl-tab" data-toggle="tab" href="#curl"
                                        role="tab" aria-controls="curl" aria-selected="false">Report</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-tab="tab_three" data-toggle="tab" href="#resize" role="tab"
                                        aria-controls="resize" aria-selected="false">Inform Decisions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-tab="tab_four" id="doctl-tab" data-toggle="tab"
                                        href="#doctl" role="tab" aria-controls="doctl" aria-selected="false">Grow</a>
                                </li>
                            </ul>
                            <div class="tab-content developer_tab_content">
                                <div class="tab-pane fade active show" id="ruby" role="tabpanel"
                                    aria-labelledby="ruby-tab">
                                    <h4>Take control of your<br> inventory</h4>
                                    <p>I blower he nicked it you mug pukka only a quid barmy Harry young delinquent
                                        knees up amongst such a fibber, daft gosh cracking goal wind up pardon me up the
                                        duff nice one he lost his bottle are you taking the piss is David, the BBC horse
                                        play.!</p>
                                </div>
                                <div class="tab-pane fade" id="curl" role="tabpanel" aria-labelledby="curl-tab">
                                    <h4>Take control of your <br> inventory</h4>
                                    <p>I blower he nicked it you mug pukka only a quid barmy Harry young delinquent
                                        knees up amongst such a fibber, daft gosh cracking goal wind up pardon me up the
                                        duff nice one he lost his bottle are you taking the piss is David, the BBC horse
                                        play.!</p>
                                </div>
                                <div class="tab-pane fade" id="resize" role="tabpanel" aria-labelledby="resize-tab">
                                    <h4>Take control of your <br> inventory</h4>
                                    <p>I blower he nicked it you mug pukka only a quid barmy Harry young delinquent
                                        knees up amongst such a fibber, daft gosh cracking goal wind up pardon me up the
                                        duff nice one he lost his bottle are you taking the piss is David, the BBC horse
                                        play.!</p>
                                </div>
                                <div class="tab-pane fade" id="doctl" role="tabpanel" aria-labelledby="doctl-tab">
                                    <h4>Take control of your <br> inventory</h4>
                                    <p>I blower he nicked it you mug pukka only a quid barmy Harry young delinquent
                                        knees up amongst such a fibber, daft gosh cracking goal wind up pardon me up the
                                        duff nice one he lost his bottle are you taking the piss is David, the BBC horse
                                        play.!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pos_features_area sec_pad">
            <div class="container">
                <div class="row flex-row-reverse pos_item">
                    <div class="col-lg-6">
                        <div class="pos_features_img">
                            <div class="shape_img"></div>
                            <div class="shap_img">
                                <img src="img/pos/item1.png" alt="features" data-pagespeed-url-hash="3074557741"
                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="pos_features_content">
                            <h2>Yeni nesil bulut<br> tabanli POS</h2>
                            <div class="media h_features_item">
                                <i class="icon_lightbulb_alt"></i>
                                <div class="media-body">
                                    <h3 class="h_head">Benzersiz Stok ve Sube Yonetimi</h3>
                                    <p>Oxford my lady the bee's knees. Tinkety tonk old fruit daft Richard baking cakes
                                        the bee's.</p>
                                </div>
                            </div>
                            <div class="media h_features_item">
                                <i class="icon_bag_alt orange"></i>
                                <div class="media-body">
                                    <h3 class="h_head">Internet Olmadan Calisabilme</h3>
                                    <p>Tinkety tonk old fruit daft Richard baking cakes the bee's knees I brown bread
                                        crikey.!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pos_item">
                    <div class="col-lg-6">
                        <div class="pos_features_img img_left">
                            <div class="shape_img yellow"></div>
                            <div class="shap_img yellow">
                                <img src="img/pos/item2.png" alt="features" data-pagespeed-url-hash="3369057662"
                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="pos_features_content pl_70">
                            <h2>Isinizi buyutmeye<br> odaklanin</h2>
                            <div class="media h_features_item">
                                <i class="icon_key_alt red"></i>
                                <div class="media-body">
                                    <h3 class="h_head">Her yerden erisim</h3>
                                    <p>Oxford my lady the bee's knees. Tinkety tonk old fruit daft Richard baking cakes
                                        the bee's.</p>
                                </div>
                            </div>
                            <div class="media h_features_item">
                                <i class="icon_bag_alt green"></i>
                                <div class="media-body">
                                    <h3 class="h_head">icon_creditcard</h3>
                                    <p>Tinkety tonk old fruit daft Richard baking cakes the bee's knees I brown bread
                                        crikey.!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row flex-row-reverse pos_item">
                    <div class="col-lg-6">
                        <div class="pos_features_img">
                            <div class="shape_img blue"></div>
                            <div class="shap_img blue">
                                <img src="img/pos/item3.png" alt="features" data-pagespeed-url-hash="3663557583"
                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="pos_features_content">
                            <h2>Yeni nesil bulut<br> tabanli POS</h2>
                            <div class="media h_features_item">
                                <i class="icon_check check"></i>
                                <div class="media-body">
                                    <h3 class="h_head">Donanim Yatirimi Gerekmez</h3>
                                    <p>Oxford my lady the bee's knees. Tinkety tonk old fruit daft Richard baking cakes
                                        the bee's.</p>
                                </div>
                            </div>
                            <div class="media h_features_item">
                                <i class="icon_check check"></i>
                                <div class="media-body">
                                    <h3 class="h_head">Bakim Maliyeti Yok</h3>
                                    <p>Tinkety tonk old fruit daft Richard baking cakes the bee's knees I brown bread
                                        crikey.!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{!-- <section class="pos_about_area">
            <div class="container">
                <div class="hosting_title text-center">
                    <h2 class="wow fadeInUp w_color" data-wow-delay="0.3s">The Point of Sale Platform <br>Powering the
                        Most Successful Restaurants</h2>
                </div>
                <ul class="list-unstyled pos_about_list">
                    <li>Easy-to-use software that can<br> scale with your business</li>
                    <li>Tickety boo what a plonker blower<br> tinkety tonk old fruit</li>
                    <li>Cloud-based reports accessible<br> in real-time</li>
                    <li>Simple, flat rate payment processing<br> for all transactions</li>
                    <li>Hardwired terminals and offline<br> mode so nothing slows you down</li>
                    <li>Tableside ordering and payments,<br> with digital receipts, to grow your<br> customer list</li>
                </ul>
                <form class="row pos_subscribe" method="post" novalidate="true">
                    <div class="col-lg-5 col-md-5 col-sm-6">
                        <div class="form-group">
                            <input type="text" id="name" name="name" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-4 col-sm-6">
                        <div class="form-group">
                            <input type="text" id="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-12">
                        <div class="form-group">
                            <button class="btn btn_pos" type="submit">Get a Demo</button>
                        </div>
                    </div>
                </form>
                <img class="pos_about_img" src="img/pos/pos_about_img.png" alt="" data-pagespeed-url-hash="2741534741"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            </div>
        </section> --}}
        <section class="h_blog_area sec_pad">
            <div class="container">
                <div class="hosting_title text-center">
                    <h2 class="wow fadeInUp" data-wow-delay="0.3s">Check out some of our amazing<br> resources or join
                        us in a city near you.</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="h_blog_item pos_blog_item">
                            <img src="img/pos/pos_blog_1.png" alt="" data-pagespeed-url-hash="2458965662"
                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <div class="h_blog_content">
                                <a href="#" class="post_time"><i class="icon_clock_alt"></i>March 20, 2019</a>
                                <a href="#">
                                    <h3>How To Deploy a PHP Application with Kubernetes..</h3>
                                </a>
                                <div class="post-info-bottom">
                                    <a href="#" class="learn_btn_two">Read More <i class="arrow_right"></i></a>
                                    <a class="post-info-comments" href="#">
                                        <i class="icon_comment_alt" aria-hidden="true"></i>
                                        <span>3 Comments</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="h_blog_item pos_blog_item">
                            <img src="img/pos/pos_blog_2.png" alt="" data-pagespeed-url-hash="2753465583"
                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <div class="h_blog_content">
                                <a href="#" class="post_time"><i class="icon_clock_alt"></i>April 22, 2019</a>
                                <a href="#">
                                    <h3>How To Build a Node.js Application with Docker</h3>
                                </a>
                                <div class="post-info-bottom">
                                    <a href="#" class="learn_btn_two">Read More <i class="arrow_right"></i></a>
                                    <a class="post-info-comments" href="#">
                                        <i class="icon_comment_alt" aria-hidden="true"></i>
                                        <span>02 Comments</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="h_blog_item pos_blog_item">
                            <img src="img/pos/pos_blog_3.png" alt="" data-pagespeed-url-hash="3047965504"
                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <div class="h_blog_content">
                                <a href="#" class="post_time"><i class="icon_clock_alt"></i>March 26, 2019</a>
                                <a href="#">
                                    <h3>Hear from our Customer Community</h3>
                                </a>
                                <div class="post-info-bottom">
                                    <a href="#" class="learn_btn_two">Read More <i class="arrow_right"></i></a>
                                    <a class="post-info-comments" href="#">
                                        <i class="icon_comment_alt" aria-hidden="true"></i>
                                        <span>02 Comments</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="chat_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="chat_content">
                            <h2>Have any questions? <br>Talk to us</h2>
                            <a href="#" class="pos_btn">Book a Callback</a>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="media chat_info">
                            <img src="img/pos/chat.png" alt="" data-pagespeed-url-hash="2341393843"
                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <div class="media-body">
                                <div class="date">24<span>/</span>7<span>/</span>365</div>
                                <h3>Toast Customer Support</h3>
                                <a href="#" class="pos_service_btn">Services and Support<i class="arrow_right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       